[Unit]
Description=fans controller
After=network-online.target

[Service]
Type=simple
User=%i
ExecStart=/usr/bin/python /cedo/fan-control.py > /cedo/fan-contrl.log 2>&1

[Install]
WantedBy=multi-user.target