[Unit]
Description=Home Assistant
After=network-online.target

[Service]
Type=simple
User=%i
ExecStart=/cedo/homeassistant/bin/hass -c "/root/.homeassistant"

[Install]
WantedBy=multi-user.target